

    
    


        

@media (max-width : 1400px ){
    
}
@media (max-width : 1200px){
    
       
}
@media (max-width : 992px){
    
    .logo__title {

        font-size: 4rem;
    }
    .menu{
        gap: 2rem;
    }
    .menu__link{
        font-size: 1.2rem;
    }
    .home__profile img{
        width: 35rem;
        height: 35rem;
    }
    .contact-us-map{
        display: none;
    }
    .contact-us__werraper {
        justify-content: center;
    }
}

@media (max-width : 768px){
    
    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        background-color: var(--section-bg-color);
        height: 0;
        overflow: hidden;
        transition: all 200ms ease-in;
    }
    .menu--open{
       height: 35rem;
       
    }
    .nav-taggel{
        display: flex;
    }
    .cover{
        position: fixed;
        background-color: rgba(0, 0, 0,10%);
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index : -1;
        opacity: 0;
        transition: all 200ms ease-in;


    }
    .cover--open{

        z-index: 99;
        opacity: 1;
    }
    .home .row{
        flex-direction: column-reverse;
    }
    .home__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home__title{
        font-size: 2.5rem;
    }
    .home__name{
        font-size: 1.5rem;
    }
    .home__links{

        flex-wrap: wrap;
    }
    .home__link{
        width: 100%;
    
    }
    .home__profile img{
        width: 30rem;
        height: 30rem;
    }
    .home{
        margin-top: 2rem;
        background-image: none !important;
    }
    .about-us__box{
        flex-direction: column-reverse;
    }
    .resume-list__item::before,.resume-list::before,.resume-content__title::before{

        content: none;

    }
    .resume-list{

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        box-shadow: none;
        min-height: auto;
        gap: 1rem;


    }
    .resume-list__item{

        border: 1px solid var(--primery-color);
        color: var(--primery-color);
        border-radius: 2rem;
        padding: 1rem 1.5rem;
        



    }
    .resume-list__item--active{


        background-color: var(--primery-color);
        color: var(--app-bg-color);

    }
    .resume-list__icon{
        display: none;
    }
    .resume-list__title{
        margin-left: 0;
        font-size: 1.4rem;
    }
    .resume-content {
        border: none;
    }
    .resume-content__head,.resume-content__subtitle,.resume-content__caption{
        padding-left: 0;
    }
    .service__shape{
        display: none;
    }
    .footer__werraper{
        flex-wrap: wrap;
        justify-content: left;
        gap: 1rem;
    }
    .footer-social{

        flex-wrap: wrap;
    }
    .home{
        height: auto;
    }
    *{
        cursor: default !important;
        /* رفع کردن بگراند هنگام کلیک در موبایل */
    }
        
}
@media (max-width : 576px){

    .home__profile img{
        width: 25rem;
        height: 25rem;
    }
}
@media (max-width : 430px){

    .about-us__link{

        width: 100%;


    }
    .about-us__links {

        flex-wrap: wrap;
    }
    .resume-content__title{
        font-size: 1.6rem;
    }
    .resume-content__subtitle{
        font-size: 1.4rem;
    }
    .resume-content__caption{
        font-size: 1.2rem;
    }
}


        
