:root{
    --text-color: #333333;
    --shadow-color: rgba(19, 182, 255, 0.24);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primery-color:#0CBFAE;
    --color-orenge :#F57F17;
    --text-color:#333333;
    --font-regular : "Poppins Regular";
    --font-medium : "Poppins Medium";
    --font-bold : "Poppins Bold";
    --font-semi-bold : "Poppins SemiBold";
    --font-black : "Poppins Black";
}
:root.dark{

    --text-color: #95A5C6;
    --app-bg-color: #161D26;
    --section-bg-color: #1F2935;
    --primery-color:#0CBFAE;
    --color-orenge :#F57F17;
    


}
:root.dark header,:root.dark .home__profile img,:root.dark .about-us__box,:root.dark .resume ,:root.dark .resume-list ,:root.dark .package, :root.dark .package-box{
    box-shadow: none;
}
:root.dark .home{

    background-image: url('../images/header-shape.svg');
}
:root.dark .switch__button{
    transform: translateX(40px);
}


html {
    font-size: 62.5%;
    /* عوض کردن واحد rem */
    /* 62.5% = 10px */
    -webkit-tap-highlight-color: transparent; 
    /* رفع کردن بگراند هنگام کلیک در موبایل */
    /* اما ساپورت مرورگرش ضعیفه */
}
body {
    line-height: 1.6;
    font-family: var(--font-regular);
    font-size: 1.6rem;
    /* اما کل بادی ما 16 px */
    padding-top: 9.6rem;
    color: var(--text-color);
    background-color: var(--app-bg-color);
}



/* helper class */
.btn{

    width: 15rem;
    height: 4rem;
    background-color: var(--primery-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--app-bg-color);
    border-radius: 3rem;
    font-family: var(--font-semi-bold);
    font-size: 1.6rem;
    box-shadow: 0 16px 28px rgba(11, 190, 173, 24%);
}
.btn-oreng{
    background-color: var(--color-orenge);
    box-shadow: 0 16px 28px rgba(245, 127, 23, 24%);
}
.btn-Purple{
    background-color: #8540FF;
    box-shadow: 0 16px 28px rgba(128, 58, 251, 24%);
}
.btn-pink{
    background-color: #F5276C;
    box-shadow: 0 16px 28px rgba(245, 39, 108, 24%);
}
.alin-items-center{
    align-items: center;
}
.header-box {
    text-align: center;
    margin: 6rem 0 4rem 0;
   
}

.header-box__title {
    font-family: var(--font-semi-bold);
    color: var(--primery-color);
    font-size: 3rem;
}
.header-box__caption {
    font-family: var(--font-regular);
    color: var(--primery-color);
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    margin-top: 1rem;
    
}
.header-box__line {
    display: block;
    width: 20rem;
    height: 0.1rem;
    background-color: var(--primery-color);
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;

}
.header-box__line::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    height: 1rem;
    background-color: var(--primery-color);
    border-radius: 4rem;
    margin: auto;
}
.skew-section{

    transform: skewY(-6deg);

}
.skew-container{

    transform: skewY(6deg);

}
.h-full{
    height: 100%;
}

/* header */
header{

    background-color: var(--section-bg-color);   
    backdrop-filter: blur(10px);
     box-shadow: 0 5px 4rem rgba(4, 195, 255, 16%);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
   


}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    display: inline-block;

}
.logo__title {
    font-family: var(--font-black);
    font-size: 6rem;
    color: var(--primery-color);
    width: 100%;
    height: 100%;
}
.werpper__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.switch{

    width: 8rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: var(--primery-color);
    position: relative;
}
.switch__button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--app-bg-color);
    position: absolute;
    left: 5px;
    top: 5px;
    transition: all 150ms ease-in;
}
.switch__moon{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    right: 15px;
}
.menu {
    display: flex;
    gap: 4rem;
    transition: all 200ms ease-in;
    z-index: 100;
    border-radius:0 0 2rem 2rem;
   

}
.menu__item {
}

   
.menu__link {
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: var(--font-medium);
    transition: all 200ms ease-in;
}
.menu__link:hover{
    color: var(--primery-color);
}
.menu__link--active{

    color: var(--primery-color);
}
.nav-taggel {
    display: none;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.nav-taggel__line {
  position: relative;
  transition: all 150ms ease-in;
  
}
.nav-taggel__line,.nav-taggel__line::after,.nav-taggel__line::before{
    content: " ";
    position: absolute;
    width: 4rem;
    height: 0.4rem;
    background-color: var(--primery-color);
    border-radius: 2rem;

}
.nav-taggel__line::after{
    top: 1.2rem;
    transition: all 200ms ease-in;

}
.nav-taggel__line::before{
   bottom: 1.2rem;
   transition: all 200ms ease-in;
}
.nav-taggel__line--open{
    background-color: transparent;
}
.nav-taggel__line--open::after{

    transform:translateY(-12px) rotate(-45deg);
}
.nav-taggel__line--open::before{

    transform: translateY(12px) rotate(45deg);

}
/* main */


/* Home */

.home {
    margin-top: 6rem;
    background-image: url(../images/shapes/header-shape.svg);
    background-position: bottom;
    height: 70rem;
    background-repeat: no-repeat;
}
.home__content {


    
}
.home__name {
    font-family: var(--font-semi-bold);
    color: var(--primery-color);
    font-size: 2rem;
}
.home__name span{

    color: var(--color-orenge);

}
.home__title {
    font-family: var(--font-bold);
    color: var(--primery-color);
    font-size: 3rem;
    margin: 1rem 0 ;
}
.home__caption {
    color: var(--text-color);
    font-family: var(--font-regular);
    font-size: 1.4rem;
    opacity: 0.7;
    margin-bottom: 2rem;
}
.home__links {
    display: flex;
    gap: 2rem;
}
.home__link{

    
}
.home__profile {
    width: 100%;
   height: 100%;
   display: flex;
   align-items:center;
   justify-content: center;
 
}
.home__profile img{

    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    border: 2rem solid var(--section-bg-color);
    box-shadow:  0 5px 4rem rgba(4, 195, 255, 16%);

}

/* about us */

.about-us {
}

.about-us__box {
    display: flex;
    flex-direction: row-reverse;
    box-shadow:  0 5px 4rem rgba(4, 195, 255, 16%);
}
.about-us__content {
    flex-basis: 50%;
    padding: 3rem 3rem;
    background-color: var(--section-bg-color);
}
.about-us__title {
    font-family: var(--font-semi-bold);
    font-size: 2rem;
}
.about-us__caption {
    font-family: var(--font-regular);
    font-size: 1.6rem;
    margin-top: 1rem;
}
.about-us__title-list{

    font-family: var(--font-semi-bold);
    font-size: 1.8rem;
    color: var(--primery-color);
    margin-top: 1.5rem;

}
.about-us__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.about-us__item {
    font-family: var(--font-regular);
    font-size: 1.4rem;
    position: relative;
    padding-left: 3rem;
}
.about-us__item::before {
    content: " ";
   position: absolute;
   left: 0 ;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 1.5rem;
   height: 1.5rem;
   background-color: var(--color-orenge);
   border-radius: 100%;

}
.about-us__links {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}
.about-us__link {
}
.about-us__cover {
    flex-basis: 50%;
}
.about-us__cover img{
    width:100% !important;
    height: 100% !important;
    object-fit: cover;
    background-position: center;
}

/* sevices */

.Purple{

    background-color: #8540FF;
    box-shadow:  0 0 35px rgba(118, 13, 255, 35%);
}
.yellow{

 background-color: #FFC50C;
 box-shadow:  0 0 35px rgba(255, 197, 12, 35%);
}
.pink{

 background-color: #EC407A;
 box-shadow:  0 0 35px rgba(236, 64, 122, 35%);
}
.orenge{

 background-color: #FF6331;
 box-shadow:  0 0 35px rgba(255, 99, 49, 35%);
}
.blue{

 background-color: #13B6FF;
 box-shadow:  0 0 35px rgba(19, 182, 255, 35%);
}
.green{

 background-color: #49AF46;
 box-shadow:  0 0 35px rgba(73, 175, 70, 35%);
}


.sevice {
    padding: 7rem 3rem ;
    text-align: center;
    color: #fff;
    height: 100%;
    position: relative;
    z-index: 5;
    overflow: hidden;

}
.servic__title {
    font-family: var(--font-semi-bold);
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}
.service__caption {
    font-family: var(--font-regular);
    font-size: 1.4rem;
}
.service__shape{

position: absolute;
bottom:-2rem;
left:0;
width: 100%;
z-index: -1;

}

/* resume */

.resume{
    box-shadow: 0 5px 4rem rgba(4, 195, 255, 27%);
    background-color: var(--section-bg-color);
    padding: 4rem 0;
    margin: 6rem 0;
    

}
.resume-list {
    box-shadow: 0 5px 4rem rgba(4, 195, 255, 24%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-height: 45rem;
    margin-right: 3rem;
    background-color: var(--app-bg-color);
    z-index: 5;
}
.resume-list::before{

    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4rem;
    background-color: var(--primery-color);
    z-index: -1;
    
    



}
.resume-list__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 3.5rem;
    cursor: pointer;

   
    
   
}
.resume-list__item::before{

    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primery-color);
    width: 5rem;
    max-width: 23rem;
    height: 3.5rem;
    z-index: -1;
    border-radius: 5rem;
    transition: all 200ms ease-in;
}
.resume-list__item--active::before{

    width: 100%;
    


}
.resume-list__item--active .resume-list__title{
    color: #fff;
}
.resume-list__icon {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
}
.resume-list__title {
    margin-left: 2rem;
    transition: all 200ms ease-in;
    font-family: var(--font-semi-bold);
    font-size: 1.6rem;
    color: var(--text-color);
    
}


.resume-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 2px solid var(--primery-color);
    height: 0;
    overflow: hidden;
    transition: all 300ms ease-in;
    opacity: 0;
    
}

.resume-content--show{
    
    height: auto;
    overflow: visible;
    opacity: 1 !important;
    
   

}
.resume-content__item {

}
.resume-content__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
}
.resume-content__title {
    color: var(--color-orenge);
    font-family: var(--font-semi-bold);
    font-size: 2rem;
    position: relative;
    
}
.resume-content__title::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -23%;
    margin: auto;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: var(--primery-color);

}
.resume-content__date {
    background-color: var(--color-orenge);
    color: var(--app-bg-color);
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem ;

}
.resume-content__subtitle {
    font-family: var(--font-semi-bold);
    font-size: 1.6rem;
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 3rem;
}
.resume-content__caption {
    font-family: var(--font-regular);
    font-size: 1.6rem;
    padding-left: 3rem;
}

/* portfolio */

.Portfolio {
}
.portfolio-content {
}
.portfolio-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;

}
.portfolio-menu__item {
    font-family: var(--font-regular);
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 1.2rem 2rem;
    border-radius: 4rem;
    cursor: pointer;
}
.portfolio-menu__item--active{

    color: var(--app-bg-color);
    background-color: var(--primery-color);
    transition: all 200ms ease-in-out;

}
.portfolio-slider {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms ease-in;
}
.portfolio-slider--show{

    height: auto;
    overflow: visible;
    opacity: 1 !important;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slider-img {
    width: 100%;
    border-radius: 1rem;
}
.swiper-pagination {
}
.swiper-pagination-bullet{
    width: 2rem !important;
    height: 2rem !important;
    background-color: var(--app-bg-color) !important;
    border-radius: 50% !important;
    border: 4px solid gray !important;
}
.swiper-pagination-bullet-active{
    
    border: 4px solid var(--primery-color) !important;
}
.swiper-pagination{
    position: static !important;
    margin-top: 2rem !important;
}

/* package  */

.package{

    box-shadow: 0 5px 4rem rgba(4, 195, 255, 27%);
    background-color: var(--section-bg-color);
    padding: 2rem 0 8rem 0;
    margin: 6rem 0;
    height: 100%;

}
.package-box {
    box-shadow: 0 0px 6rem rgba(96, 233, 255, 27%);
    padding-bottom: 2rem;
    background-color: var(--app-bg-color);
    
}
.package-box:hover .package-head{


    background-color: var(--primery-color);
}
.package-head {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    transition: all 150ms ease-in;

}
.package-head--orenge {
    background-color: var(--color-orenge);
}
.package-head--Purple{
    background-color: #8540FF;
}
.package-head--pink{
    background-color: #F5276C;
}

.package-head__title {
    font-family: var(--font-semi-bold);
    font-size: 2rem;
}
.package-head__price {
    font-family: var(--font-semi-bold);
    font-size: 1.4rem;
    margin: 0.5rem 0 0.5rem 0;
}
.package-head__caption {
    font-size: 1.4rem;
}
.package-body {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    
}
.package-option {
    width: 17rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    
}
.package-option__item {
}
.package-option__icon {
    margin-right: 1rem;
}
.package-link {
    margin: 0 auto 0 auto;
    width: 20rem;
    color: #fff;

}


/* cotact us */

.contact-us {
}

.contact-us__backgerand {
    background-image: url('../images/map.jpg');
    background-position: center;
    background-size: cover;
    height: 70rem;
}
.contact-us__werraper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.contact-us-map {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
  
}
.contact-us-map__icon{
    background-color: var(--app-bg-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: 0 0px 4rem rgba(96, 233, 255, 27%);
    margin-left: 15rem;
}
.contact-us-map__icon svg{
    width: 2rem;
}
.contact {
    width: 50rem;
    max-width: 60rem;
    background-color: var(--section-bg-color);
    padding: 3rem 2rem;
    box-shadow: 0 0px 4rem rgba(19, 182, 255, 24%);
}
.contact__title {
    font-family: var(--font-bold);
    color: var(--primery-color);
    font-size: 3rem;
}
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

}
.contact__input {
    outline: 0;
    border: 0;
    box-shadow: 0 0px 4rem rgba(96, 233, 255, 27%);
    padding: 1rem 1rem;
    border-radius: 1rem;
    font-family: var(--font-regular);
    color: var(--text-color);
    background-color: var(--app-bg-color);

}
.contact__input::placeholder{
    color: var(--text-color);
}
.contact__input--textarea {
    resize: vertical;
    max-height: 17rem;
    min-height: 5rem;
}
.contact__btn {
    border: none;
    outline: 0;
    background-color: var(--primery-color);
    color: var(--app-bg-color);
    font-family: var(--font-semi-bold);
    font-size: 1.8rem;
    border-radius: 5rem;
    padding: 1rem 0;
    cursor: pointer;
}

/* footer */
.footer {
    padding: 2rem 0;
}
.footer__werraper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-social__link,.change-them {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background-color: #1F2935 ;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    
}
.footer-social__link:hover{
    background-color: var(--primery-color);
   
}
.footer-social__link:hover > svg {
    fill: #fff;
}
.footer-social__link svg,.change-them svg {
   width: 3rem;
   height: 3rem ;
   fill: #fff;
   transition:  all 200ms ease-in-out; 
}

.footer-copy {
}
.footer-copy__text {
    font-family: var(--font-regular);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .5rem;
}
